<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Owner Detail</title>
</head>
<body>
    <p><strong>Username: </strong> {{ owner.username }}</p>
    <p><strong>Last Name: </strong>{{ owner.last_name }}</p>
    <p><strong>First Name: </strong>{{ owner.first_name }}</p>
    <p><strong>Birth Date: </strong>{{ owner.birth_date }}</p>
    <p><strong>Passport Number: </strong>{{ owner.passport_number }}</p>
    <p><strong>Home Address: </strong>{{ owner.home_address }}</p>
    <p><strong>Nationality: </strong>{{ owner.nationality }}</p>
</body>
</html>